body, body *{
    padding: 0;
    margin: 0;
    border: 0;
}
.container{
    height: 100vh;
    width: 100vw;
}
.president{
    position: absolute;
    height: 10vh;
    width: 10vw;
    top: 45vh;
    left: 45vw;
}

@keyframes bord{
    to{
        margin: 1px solid black;
        box-shadow: 10px #151515;
    }
}

.president:hover{
    cursor: pointer;
    animation: bord 5s linear 1ms;
}